body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: "JetBrains Mono", serif;;
  justify-content: center;
}

a {
  color:wheat;
  text-decoration:underline;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}

.intro {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.profile-pic {
  background-image: url("krati.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 2px solid white;
}

.intro-text h1 {
  font-size: 2rem;
  margin: 0;
}

.intro-text p {
  color: grey;
  font-size: 1rem;
  margin: 0.5rem 0;
}

.about, .education, .skills, .experience {
  margin-top: 2rem;
}

.about h2,
.education h2,
.skills h2,
.experience h2 {
  text-decoration: underline;
}

.about p {
  color:white;
  font-size: 16px;
  font-family: "JetBrains Mono", serif;;
  justify-content: center;
}

.edu-item, .exp-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.edu-item img,
.exp-item img {
  width: 60px;
  height: 60px;
}

.skills .skill-logos {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.skill-logos img {
  width: 40px;
  height: 40px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  padding: 1rem;
  border-top: 2px solid white;
  
}

footer img {
  width: 30px;
  height: 30px;
  
}

footer {
  width:330px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0.5rem 1rem;
  background-color: black;
  border-top: 2px solid white;
  border-radius: 20px;
  z-index: 999;
  transition:height 0.5s;
  height:50px;
  overflow:hidden;
  

}


@media (max-width: 768px) {
  .intro-text h1 {
    font-size: 1.5rem;
  }
  .profile-pic {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 480px) {
  .intro {
    flex-direction: column;
    text-align: center;
  }
  .intro-text h1 {
    font-size: 1.2rem;
  }
  footer {
    flex-wrap: wrap;
  }
}
.mail:hover{
  content: Mail;
  transform: scale(1.5);
  font-size:2px;
}
.mail::after {
  content: attr(Mail); /* take name from data-name attribute */
  position: absolute;
}
.linkedin:hover{
  content:Linkedin;
  transform: scale(1.5);
  font-size:2px;
}
.resume:hover{
  content: linkedin;
  transform: scale(1.5);
  font-size:2px;
}
.Github:hover{
  content: Github;
  transform: scale(1.5);
  font-size:2px;
}
footer:hover {
  height: 100px;

}

